/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bkg {
  width: auto;
  height: 400px;
  background: url("@site/static/img/source-code-light.svg") center left/100%
    400px no-repeat;
}

html[data-theme="dark"] .bkg {
  background-image: url("@site/static/img/source-code-dark.svg");
}

.right {
  padding: 5rem 2.5rem;
}
